{% extends 'base.html.twig' %}

{% block title %}Hello SuiteController!{% endblock %}

{% block body %}
 {% for suite in suite %}  
<div class="container">

  <div class="col-sm-6">
    <div class="card text-center" style="margin:10px;">
      <div class="card-body" style="width: 18rem margin:20px;">
            <h6 class="card-title"><a href="">{{suite.titre}}</a></h6>
            <img src="assets/uploads/suites/{{suite.image1}}" alt="etablissement_img1" class="card-img-top" alt="...">
            <p class="card-text">
            {{suite.description}}</p>
            <a href="#" class="btn btn-secondary">Réserver</a>
        </div>

 
    </div>
  </div>
{% endfor %}   
</div>    
   
         
{% endblock %}
