{% extends 'base.html.twig' %}

{% block title %}Formulaire de réservation{% endblock %}

{% block body %}

     {% if app.user%}
               
    {% endif %}
             
              <form method="post">
                    <div class="form-group">
                        {{form(formulaire)}}
              </form>
    

{% endblock %}
